<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeAway</title>
</head>
<body>
    <h3>Edit your Listing</h3>
<form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
    <input name="listing[title]" value="<%= listing.title %>" type="text" required>
    <br><br>
    
    <textarea name="listing[description]"><%= listing.description %></textarea>
    <br><br>
    
    <input name="listing[image]" value="<%= listing.image %>" type="text" required>
    <br><br>
    
    <input name="listing[price]" value="<%= listing.price %>" type="number" required>
    <br><br>
    
    <input name="listing[country]" value="<%= listing.country %>" type="text" required>
    <br><br>
    
    <input name="listing[location]" value="<%= listing.location %>" type="text" required>
    <br><br>
    
    <button type="submit">Edit</button>
</form>
</body>
</html> -->
<% layout("/layouts/boilerplate") %>

<div class="row">
    <div class="col-8 offset-2">
        <div class="container mt-5">
            <h3>Edit Your Listing</h3>
            <br>
            <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation">

                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
                </div>

                
                <div class="mb-3">
                    <label for="image" class="form-label">Image URL</label>
                    <!-- <input name="image" value="<%= listing.image %>" type="text" class="form-control"> -->

                    <input name="listing[image]" value="<%= listing.image %>" type="text" class="form-control" required>
                </div>
                
                
                

                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" required>
                </div>

                <button type="submit" class="btn btn-dark edit-btn mt-3">Edit</button>
                <br><br>
            </form>
        </div>
    </div>
</div>

